@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
    --font-light: #808080;
    --primary-color: #9FC9C9;
}

.wrapper-container {
    /* max-width: 500px;
    width: 100%; */
    /* background: #b29393;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px; */
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.form-Book .form-Book {
    color: var(--font-light);
    display: flex;
    flex-wrap: wrap;
}

.form-Book {
    width: 40%;
    padding: 5%;
    flex-wrap: wrap;
    margin: 0 -16px;

    /* background-color: black; */
}

.form-Book {
    background: var(--primary-color);
}

.form select {
    border: 0;
    width: 90%;
    color: var(--font-light);
}

form input {
    border: 0;
    width: 74%;
    color: var(--font-light);
    padding: 0 4%;
}

.form select:focus,
form input {
    outline: none;
}

.Booking-errors {
    font-size: 10px;

    color: red;

    /* margin-bottom: 1%;
    border-radius: 5px; */

}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form-Book {
    width: 100%;
}

.form-Book input {
    border: 0;
    width: 74%;
    color: var(--font-light);
    padding: 0 4%;
}

.form-Book input {
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    color: #4b483f;
}

.wrapper .form-Book .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form-Book .inputfield .input,
.wrapper .form-Book .inputfield .textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    color: #4b483f;

}

.wrapper .form-Book .inputfield .textarea {
    width: 110%;
    height: 70px;
    resize: none;
    margin-right: 120px;
}

.wrapper .form-Book .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form-Book .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form-Book .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}


.wrapper .form-Book .inputfield .input:focus,
.wrapper .form-Book .inputfield .textarea:focus,
.wrapper .form-Book .inputfield .custom_select select:focus {
    border: 1px solid #fec107;
}

.wrapper .form-Book .inputfield p {
    font-size: 14px;
    color: #757575;
}

.wrapper .form-Book .inputfield .check {
    width: 15px;
    height: 15px;

    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form-Book .inputfield .check input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form-Book .inputfield .check .checkmark {
    width: 15px;
    height: 15px;
    border: 1px solid #bab7b0;
    display: block;
    position: relative;
}

.wrapper .form-Book .inputfield .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form-Book .inputfield .check input[type="checkbox"]:checked~.checkmark {
    background: #7778a5;
}

.wrapper .form-Book .inputfield .check input[type="checkbox"]:checked~.checkmark:before {
    display: block;
}

.wrapper .form-Book .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #4b483f;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form-Book .inputfield .btn:hover {
    background: #e4decc;
}

.wrapper .form-Book .inputfield:last-child {
    margin-bottom: 0;
}

button.subt,
button.rst {
    padding: 2% 3%;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
}

button.subt {
    background: #000;
    color: #fff;
    width: 50%;
    margin-left: 25%;
}

/* link {
    text-decoration: none;
} */

.form-Book select {
    width: 105%;
    height: 6%;
    outline: none;
}

.Terms {

    display: flex;
    flex-direction: row;
}

.inputfield-terms li {
    font-size: 10px;
    margin-bottom: 5%;
}


/* .Khalti {
    background-color: #E8FFFD;
    border: 2px solid #E8FFFD;
    margin-right: 8px;
}

.Khalti:hover {
    background-color: #fff;
    color: #FF9F00;
} */
.btn-all {
    flex-wrap: wrap;
    display: flex;
    /* width: 100%; */
}

.btn-Khalti .Khalti {

    margin-right: 8px;

}

.btn-Khalti .Khalti {
    height: 50vh;
}

.Khalti :link {
    text-decoration: none;
    /* color: #fff; */
}

.FonePay {
    background-color: #53c2b0;
    border: 2px solid #D7FFE0;
    width: 30%;
    font-size: larger;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    color: #000;
    padding: 5%;
    font-weight: 00;
    margin-left: 10px;
}

.FonePay:placeholder {
    color: #000;
    background: #000;
}

.FonePay:hover {
    background-color: #fff;
    color: #000;
}

.FonePay :link {
    text-decoration: none;
    color: #f1f1f1;
}

/* .btn-group button {
    display: inline-block;
    font-size: 16px;
    width: 105%;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-size: bold;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10%;

} */

.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5fb3ca 100%, #9FC9C9 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 38px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-top: 5%;
    width: 80%;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

/* .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
} */





@media (max-width:420px) {
    .wrapper .form-Book .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper .form-Book .inputfield label {
        margin-bottom: 5px;
    }

    .wrapper .form-Book .inputfield.terms {
        flex-direction: row;
    }
}