.Forgetpassword {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;

}
.Forgetpassword-box {
    margin-top: 50px;
    margin-left: 100px;
}

.Forgetpassword-box p {
    font-family: 'Labrada', serif;
   
}

.Forgetpassword-box input {
    width: 90%;
    border: 1px solid black;
    padding: 12px 20px;
    margin: 8px 0;
}

.optbutton {
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    transition: .5s;
    width: 300px;
    margin-left: 50px;
}


.optbutton:disabled {
    cursor: default;
    opacity: .3;
}

.optbutton:hover {
    background-color: black;
    color: #FFFFFF;
}



.digit-group {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    border: none;
    line-height: 50px;
    text-align: center;
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: white;
   
}

.splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
}

.Recoverpassword {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Recoverycontainer {


    align-items: center;
    background-color: white;
   
}

.Recoverycontainer input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    outline: none;

}

.button-25 {
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 40%;
}