
.back-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top-button.visible {
    display: block;
  }


.carousel {
    position: relative;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
}

.carousel .carousel-item img {
    max-width: 100%;
    height: auto;
   
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    background-color: #030f27;
}

.carousel .carousel-caption h1 {
    color: #f3f1f0;
    font-size: 60px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 35px;
    background-color: #030f27;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #030f27;
    background: #fdbe33;
    border-color: #fdbe33;
}

@media (max-width: 767.98px) {

    .carousel .carousel-item img {
max-width: 100%;
height: auto;
    }
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .carousel .carousel-caption p {
        font-size: 20px;
    }

    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .carousel .carousel-caption p {
        font-size: 16px;
    }

    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
   
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100px;
}

.font-head p {
    color: #f9f9f9;

}

.latest .scontainer {
    padding: 50px;
    text-align: center;
    background: linear-gradient(0deg, #03a9f5 0%, #0e3959 30%, rgb(2, 9, 46) 30%, #0e2e3d 100%);
}


.latest .sbox {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
    width: 135%;

}

.latest .sbox:hover {
    
    cursor: pointer;
}

.latest .bike {
    position: relative;
}

.latest .bike .flex1 {
    width: 100%;
    position: absolute;
    top: 0;
}

.latest .bike label {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #f9f9f9;
    background: blue;
    text-align: center;
}

.homebtn {
    padding: 15px 50px;
    margin: 20px 20px 0 0;
    border-radius: 50px;
    border: none;
    background: #03a9f5;
    color: aliceblue;
    
     
}

.homebtn a {
    color: aliceblue;
    list-style: none;
    text-decoration: none;
}
.homebtn span{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homebtn:hover {
    transform: scale(1.1);
}

.bike img {
    width: 80%;
    transition: 1s;
    margin-left: 15px;
    margin-top: 10px;
}

.details p{
font-weight: bold;
font-family: 'Poppins', sans-serif;
}
.details span{
font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}



video{
    object-fit: cover;
    width: 100%;
    height: 50vh;
    border: 2px solid gainsboro;
   
}

@media screen and (max-width: 992px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100px;
    }

    .font-head h2 {
        color: #f9f9f9;
        padding: 20px;
    }

    .latest .scontainer {
        padding: 10px;
        text-align: center;
        background: linear-gradient(0deg, #03a9f5 0%, #0e3959 30%, rgb(2, 9, 46) 30%, #0e2e3d 100%);
    }

    .latest .sbox {
        background: #f9f9f9;
        padding: 20px;
     
        border-radius: 10px;
        transition: 0.5s;
        width: 135%;

    }
    Slide img{
        width:max-content;
    }
}

@media screen and (max-width: 450px) {
  
    .font-head p {
        color: #f9f9f9;
        font-size: large;
    }

    .latest .sbox {
        background: #f9f9f9;
        padding: 10px;
       
        border-radius: 10px;
        
        width: 100%;
        margin-right: 0rem;
    }
    .homebtn {
        padding: 2px 2px;
        margin: 0px 0px 0 0;
        border-radius: 10px;
        border: none;
        background: #03a9f5;
        color: aliceblue;
        display: none;
    }
    .homebtn span{
        font-size: small;
        }
        .details span{
            font-weight: 400;
                font-family: 'Poppins', sans-serif;
            }
    Slide{
        width: 100%;
    }
}
@media screen and (max-width: 300px) {
   
}

.wrappeaward {
	width: 80%;
	margin: 30px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
}
.wrappeaward  img {
	width: 100%;
	cursor: pointer;
	transition: 1s ease;
}
.wrappeaward  img:hover {
	transform: scale(0.9);
}