@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color:#f8f9fa;
  margin: 0%;
  padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #030f27;
}

a {
  color: #666666;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #3336fd;
  outline: none;
  text-decoration: none;
}

.btn:focus {
  box-shadow: none;
}

.wrapper {
  position: relative;
  width: 100%;
   max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #fdbe33;
  color: #121518;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: 0.5s;
  z-index: 9;
}

.back-to-top:hover {
  color: #fdbe33;
  background: #121518;
}

.back-to-top i {
  padding-top: 10px;
}

.btn {
  transition: .3s;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-container {

  height: 40px;
  display: flex;
  cursor: pointer;
  display: flex;
  border-radius: 20px;
  position: relative;
  margin-top: 03%;
  text-align: center;
  outline: none;
}

.top-bar {
  position: relative;
  height: 90px;
  font-weight: bold;
  font-size: xx-large;
  background: white;
}

.top-bar .logo {
  padding: 15px 0;
  text-align: left;
  overflow: hidden;
}

.top-bar .logo  {
  margin: 0;
  color: #030f27;
  font-size: 160px;
  line-height: 60px;
  font-weight: 700;
}

.top-bar .logo img {
  max-width: 100%;
  max-height: 60px;
}


.top-bar .top-bar-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}

.top-bar .top-bar-icon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar .top-bar-icon [class^="flaticon-"]::before {
  margin: 0;
  color: #030f27;
  font-size: 40px;
}

.top-bar .top-bar-text {
  padding-left: 15px;
}

.top-bar .top-bar-text h3 {
  margin: 0 0 5px 0;
  color: #030f27;
  font-size: 16px;
  font-weight: 400;
}

.top-bar .top-bar-text p {
  margin: 0;
  color: #030f27;
  font-size: 13px;
  font-weight: 400;
}

@media (min-width: 992px) {
  .top-bar {
    padding: 0 60px;
  }
}

@media (max-width: 991.98px) {
  .top-bar .logo {
    text-align: center;
  }
}

.nav-bar {
  position: relative;
  background: #030f27;
  transition: .3s;
}

.nav-bar .container-fluid {
  padding: 0;
}

nav .sticky {
  padding: 5px 100px;
  background-color: rgb(0, 0, 33);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .sticky ul li a {
  color: white;
}

.nav-bar .navbar {
  height: 100%;
  background: #030f27 !important;
  max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 10px 8px 10px;
  color: white;
  width: max-content;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #03a9f5;
  transition: none;
}

.nav-bar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

.nav-bar .btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
}

.nav-bar .btn:hover {
  color: #030f27;
 
}

@media (min-width: 992px) {
  .nav-bar {
    padding: 0 75px;
  }

  .nav-bar.nav-sticky {
    padding: 0;
  }

  .nav-bar .navbar {
    padding: 20px;
  }

  .nav-bar .navbar-brand {
    display: none;
  }

  .nav-bar a.nav-link {
    padding: 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
  }
  
.search-container {
  height: 40px;
  display: block;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  margin-top: 03%;
  text-align: start;
  outline: none;
  margin-left: 0%;

}
}

@media (max-width: 991.98px) {
  .nav-bar .navbar {
    padding: 15px;
    align-items: center;
  }

  .nav-bar a.nav-link {
    padding: 10px;
   
  }

  .nav-bar .dropdown-menu {
    box-shadow: none;
  }

  .nav-bar .btn {
    display: none;
  }
  .navbar-nav a{
  display: block;
  }
}


.page-header {
  position: relative;
  margin-bottom: 15px;
  padding: 20px 0;
  text-align: center;
  background: #1888ff;
}

.page-header h2 {
  position: relative;
  color: #030f27;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.page-header h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  left: calc(50% - 50px);
  bottom: 0;
  background: #030f27;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #030f27;
}

.page-header a:hover {
  color: #ffffff;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #121518;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 991.98px) {
  .page-header {
    padding: 60px 0;
  }

  .page-header h2 {
    font-size: 45px;
  }

  .page-header a {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .page-header {
    padding: 45px 0;
  }

  .page-header h2 {
    font-size: 35px;
  }

  .page-header a {
    font-size: 18px;
  }
}

.video {
  position: relative;
  margin: 45px 0;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #3362fd;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #1e0cbe;
  border-radius: 50%;
  transition: all 200ms;
}

.video .btn-play:hover:after {
  background-color: darken(#fdbe33, 10%);
}

.video .btn-play video {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #030f27;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}