.Scooter-header {
  position: relative;
  margin: 0 auto;
}

.Scooter-header img {
  width: 100%;
  height: 50vh;
  opacity: 90%;
}

.Scooter-header label {
  color: #021d67;
  position: absolute;
  right: 65%;
  top: 8%;
  text-align: center;
  font-size: 5rem;
  text-shadow: 10px 50px 100px brown;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.Scooter-header span {
  color: rgb(10, 10, 10);
  position: absolute;
  right: 55%;
  top: 43%;
  border: 1px solid green;
  background: rgb(244, 247, 249);
  text-align: center;
  font-size: 1rem;
  text-shadow: 10px 50px 100px brown;
  font-family: "Times New Roman";
}

.custom-manage {
  margin-left: 80%;
  border: none;
  text-decoration: none;
}

.custom-manage select {
  height: 40px;
  width: 90%;
  text-align: center;
  background: #005c97;
  color: aliceblue;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.bikes img {
  width: 90%;
  height: 200px;
  margin-left: 15px;
  margin-top: 10px;
}

.namePrice span {
  font-size: 1em;
  margin-right: 20px;
  color: var(--starColor);
}

.product p {
  font-size: 18px;
  line-height: 25px;
}

.bay {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.bay {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  font-size: 12px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  background: #000;
  color: aliceblue;
  font-weight: 600;
}

.bay:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .Scooter-header img {
    width: 100%;
    height: auto;
    opacity: 70%;
  }

  .Scooter-header label {
    color: #021d67;
    position: absolute;
    right: 20%;
    top: 8%;
    text-align: center;
    font-size: 5rem;
    text-shadow: 10px 50px 100px brown;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
  }

  .Scooter-header span {
    color: rgb(10, 10, 10);
    position: absolute;
    right: 17%;
    top: 34%;
    border: 1px solid green;
    background: rgb(249, 252, 255);
    text-align: center;
    font-size: 1rem;
    text-shadow: 10px 50px 100px brown;
    font-family: "Times New Roman";
  }

  .custom-manage {
    display: none;
  }

  .custom-manage select {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .Scooter-header img {
    width: 100%;
    height: auto;
    opacity: 70%;
  }

  .Scooter-header label {
    color: #021d67;
    position: absolute;
    right: 30%;
    top: 8%;
    text-align: center;
    font-size: 4rem;
    text-shadow: 10px 50px 100px brown;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
  }

  .Scooter-header span {
    color: rgb(10, 10, 10);
    position: absolute;
    right: 15%;
    top: 40%;
    border: 1px solid green;
    background: rgb(249, 252, 255);
    text-align: center;
    font-size: 0.75rem;
    text-shadow: 10px 50px 100px brown;
    font-family: "Times New Roman";
  }

  .custom-manage {
    display: none;
  }

  .custom-manage select {
    display: none;
  }

  .product {
    position: relative;
    width: 350px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 370px) {
  .Scooter-header img {
    width: 100%;
    height: auto;
    opacity: 70%;
  }

  .Scooter-header label {
    color: #021d67;
    position: absolute;
    right: 20%;
    top: 8%;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 10px 50px 100px brown;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
  }

  .Scooter-header span {
    color: rgb(10, 10, 10);
    position: absolute;
    right: 3%;
    top: 30%;
    border: 1px solid green;
    background: rgb(249, 252, 255);
    text-align: center;
    font-size: 0.75rem;

    font-family: "Times New Roman";
  }

  .custom-manage {
    display: none;
  }

  .custom-manage select {
    display: none;
  }
  .product {
    position: relative;
    width: 330px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 375px) {
  .Scooter-header img {
    width: 100%;
    height: 200px;
    opacity: 70%;
  }

  .Scooter-header label {
    color: #021d67;
    position: absolute;
    right: 20%;
    top: 8%;
    text-align: center;
    font-size: 2.7rem;
    text-shadow: 10px 50px 100px brown;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
  }

  .Scooter-header span {
    color: rgb(10, 10, 10);
    position: absolute;
    right: 3%;
    top: 37%;
    border: 1px solid green;
    background: rgb(249, 252, 255);
    text-align: center;
    font-size: 0.75rem;

    font-family: "Times New Roman";
  }

  .custom-manage {
    margin-left: 50%;
    border: none;
    text-decoration: none;
    margin: 30px;
  }

  .custom-manage select {
    height: 40px;
    width: 100%;

    text-align: center;
    background: #005c97;

    color: aliceblue;

    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .product {
    position: relative;
    width: 330px;
    margin-left: 0px;
  }
}
